
{{> header }}

{{> navbar }}

<div class="row">
        <div class="col-8">
            <h1>Candelabro</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati eos eius facere amet sapiente architecto illum esse! Quod, quas asperiores libero necessitatibus expedita aliquid incidunt nesciunt excepturi dicta et maxime!</p>
        </div>

        <div class="col-4">
            <img src="assets/img/img.jpg"  class="img-thumbnail">
        </div>

</div>


{{> footer }}